.toggle {
  height: 30px;
  background: #EEE;
  margin-bottom: 1em;
  //position: relative;
}
.toggle .handle {
  //position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.toggle .red-bar {
  width: 100px;
  height: 30px;
  background: #CC0000;
  color: #FFF;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
.toggle .disabled {
  background: #898989;
}
