.tag-manager
  position: relative
  .header
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: baseline
    &>*
      margin-top 0

  .info
    text-align: right
    font-style: italic
    color: #aaaaaa
  .tag-list
    min-height: 3em
    span
      margin-right: 0.2em
      margin-bottom: 0.2em

