ul.selection-list {
  li {
    span {
      display: inline-block;
    }
    .strike, .dip {
      min-width: 3em;
      text-align: right;
    }
    padding: 0.2em 0.5em;
    cursor: pointer;
    .group {
      cursor: pointer;
      font-size: 0.8em;
      color: white;
      background-color: dodgerblue;
      padding: 0.2em 0.5em;
      border-radius: 0.5em;
    }
  }
  overflow: scroll;
  list-style: none;
  padding-left: 0;
}
