.list {
  overflow: scroll;
  list-style: none;
  padding-left: 0;
  flex: 1;
  }

.item {
  span {
    display: inline-block;
    padding-right: 0.2em;
  }
  .strike, .dip {
    min-width: 5em;
    text-align: right;
  }
  padding: 0.2em 0.5em;
  cursor: pointer;
  .group {
    cursor: pointer;
    font-size: 0.8em;
    color: white;
    background-color: dodgerblue;
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
    }
  &.hovered {
    background-color: #dddddd;
  }
}
