.data-panel {
  display: flex;
  img {
    max-width: 100%;
  }
  min-width: 20rem;
  margin: 1rem;
  div.controls {
    ul {
      list-style: none;
      padding-left: 0;
    }
    .more {
      margin-top: 0.2em;
      color: #888888;
    }
  }
  li.hovered {
    background-color: #dddddd;
  }
  &>div {
    @extend .flex-container;
  }
  div.stereonet {
    min-width: 30rem;
  }
  div.data-viewer {
    width: 100%;
  }
  &.wide {
    width: 20%;
    min-width: 30rem;
  }
}

.modal-controls {
  position: relative;
  nav ul {
    list-style-type: none;
    padding-left: 0;
    @extend .hflex-container;
    li {
      padding: 0.4em;
      margin: 0 0.2em;
      background: $button-color;
      display: flex;
      color: #ffffff;
      justify-content: center;
      font-weight: 200;
      flex-grow: 1;
      text-align: center;
      cursor: pointer;
      &:hover {
        background: $button-hover-color;
      }
      &.active {
        background: $button-active-color;
        &:hover {
          background: $button-active-hover-color;
        }
      }
      i {
        padding-right: 0.2em;
      }
    }
  }
}
