
.sidebar {
  img {
    max-width: 100%;
  }
  min-width: 30rem;
  margin: 1rem;
  div.controls {
    ul {
      list-style: none;
      padding-left: 0;
    }
    .more {
      margin-top: 0.2em;
      color: #888888;
    }
  }
  li.hovered {
    background-color: #dddddd;
  }

}

.selectionControl {

  h3 { margin-top: 0; }
  &>* {
    flex: none;
  }
  position: relative;
  .modal-controls {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5em;
  }
}
