.container
  display: block
  margin: 1rem auto
  padding: 0

.background
  fill: white

.neatline
  stroke: black
  stroke-width: 2
  fill: none

.graticule {
  fill: none;
  stroke: #eee;
  }

.ellipse {
  fill: red;
  }

.error {
  fill: #aaa
  fill-opacity: 0.5
}
.nominal {
  stroke: #888
  fill: none;
  stroke-width: 1
}
