.container
  display: block
  margin: 1rem auto
  padding: 0

.background
  fill: white

.neatline
  stroke: black
  stroke-width: 2
  fill: none

.graticule {
  fill: none;
  stroke: #eee;
  }

.ellipse {
  fill: transparent;
  stroke: #aaa;
  stroke-dasharray: 2 2;
  }

.error {
  fill: #aaa
  fill-opacity: 0.5
}
.nominal {
  stroke: #888
  fill: none;
  stroke-width: 0.5
}

:global
  g.hover-overlay
    .plane
      .error
        fill: red
      .nominal
        stroke: red
        stroke-width: 1
    .ellipse
      fill: red
      fill-opacity: 0.5
      stroke: red
      stroke-dasharray: none
