body
  margin: 0
  padding: 0
  background-color: white

#wrapper
  height: 100vh

.flex-container {
  display: flex;
  flex-direction: column;
}

.hflex-container {
  display: flex;
  flex-direction: row;
}

.flex {
  flex: 1
}

#main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.log-overlay
  z-index: 1000
