.tag-manager
  position: relative
  .info
    text-align: right
    position: absolute
    top: 1em
    right: 0
    font-style: italic
    color: #aaaaaa
  .tag-list
    min-height: 3em
    span
      margin-right: 0.2em
      margin-bottom: 0.2em

