.flex-container {
  display: flex;
  flex-direction: column;
}

.hflex-container {
  display: flex;
  flex-direction: row;
}

.flex {
  flex: 1
}

#main {
  @extend .flex-container;
  height: 100vh;
}

